name: Release Plz

permissions: {}

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release-plz:
    name: Release-plz
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          token: ${{ secrets.RELEASE_PLZ_TOKEN }}
          persist-credentials: true # required by release-plz

      - name: Run release-plz
        id: release-plz
        uses: release-plz/action@1efcf74dfcd6e500990dad806e286899ae384064 # v0.5.119
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PLZ_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

      - name: Bump package.json
        if: ${{ steps.release-plz.outputs.prs_created }}
        env:
          GH_TOKEN: ${{ secrets.RELEASE_PLZ_TOKEN }}
          PR_NUMBER: ${{ fromJSON(steps.release-plz.outputs.pr).number }}
          VERSION: ${{ fromJSON(steps.release-plz.outputs.pr).releases[0].version }}
        run: |
          set -e

          pr_number="${PR_NUMBER}"

          if [[ -n "$pr_number" ]]; then
            version="${VERSION}"

            jq --arg version "${version}" '.version = ($version) | .scripts.postinstall = "napi-postinstall unrs-resolver \($version) check"' package.json > tmp
            mv tmp package.json

            gh pr checkout $pr_number
            git add .
            git commit --amend --no-edit
            git push --force-with-lease
          fi
